{% extends 'base.html' %}
{% block content %}

<h1>portfolio</h1>



{% for photo in portfolio_photo.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
<div>
        {{portfolio.id}}
    {{portfolio.profile_link}}
    {{portfolio.github_link}}
    {{portfolio.about_me}}
</div>

<form method="POST" action="{% url 'add_photo' portfolio.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br>
    <input type="submit" class="btn btn-outline-success" value="Upload Photo">
</form>




{% endblock %}