{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Portfolio</h1>
  {% endif %}
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }} {{ field }}
        <br>
        {{ field.help_text }}
        {{ field.errors }}
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-outline-primary" value="Submit">
</form>

<form action="{% url 'add_photo' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br>
    <input type="sumbit" value="Upload Photo">
</form>

{% endblock %}