{% extends 'base.html' %}

{% block content %}

    {% if object %}
        <h1>Edit {{object.project_name}}</h1>
    {% else %}
        <h1>Add Project</h1>
    {% endif %}
    <div class="bootstrap-iso">
        <div id="project-form-box">
            <form action="" method="post" class="form-style">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    <br>
                    {{ field.help_text }}
                    {{ field.errors }}
                </div>
                 {% endfor %}
                <div class="form-group">
                    <label class="control-label" for="date">Date Created: </label>
                    <input class="form-control" id="datepicker" name="date" placeholder="YYYY-MM-DD" type="text"/>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<script>
    var field = document.getElementById('datepicker');
    var picker = new Pikaday({
        field: document.getElementById('datepicker'),
        format: 'D/M/YYYY',
        toString(date, format) {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            return `${year}-${month}-${day}`;
        },
        onSelect: function(date) {
            var date = field.value = picker.toString();
        }
    });
    field.parentNode.insertBefore(picker.el, field.nextSibling);
</script>
{% endblock %}
