{% extends 'base.html' %}
{% block content %}

{% if user.portfolio %}
<div class="jumbotron">
    <h1 class="display-4">{{user.first_name}} {{user.last_name}} <small class="text-muted">({{user.username}})</small>
    </h1>
    <h4>Profession: {{user.portfolio.profession}}</h4>
    <h4>About Me: {{user.portfolio.about_me}}</h4>
    <p>Email: {{user.email}}</p>
    <p>Profile Link: <a href="{{user.portfolio.profile_link}}">{{user.portfolio.profile_link}}</a></p>
    <p>Github Link: <a href="{{user.portfolio.github_link}}">{{user.portfolio.github_link}}</a></p>
    
    {% if user.portfolio.photo_url %}
    <img class="responsive-img mb-4" src="{{user.portfolio.photo_url}}" alt="Avatar">
    {% else %}
    <img class="responsive-img mb-4" src="" alt="Avatar">
    {% endif %}

    {% if request.user == user %}
    <form method="POST" action="{% url 'portfolio_add_photo' user.portfolio.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br>
        <input type="submit" class="btn btn-outline-success mt-2" value="Upload Photo">
    </form>
    <a class="btn btn-outline-danger mt-2" href="{% url 'portfolio_delete_photo' user.portfolio.id %}">Delete Photo</a>

    {% endif %}

    <form method="POST" action="{% url 'projects_create' %}">
        {% csrf_token %}
        <input type="submit" value="Add Project">
    </form>
    
</div>
<div class="container">
    <h1 class="title">Projects</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    <div>
                        <a class="btn btn-outline-info" href="">Edit</a>
                        <a class="btn btn-outline-danger" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    {% if request.user == user %}
                    <div>
                        <a href=""><button class="btn btn-outline-info">Edit</button></a>
                        <a href=""><button class="btn btn-outline-danger">Delete</button></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}
<div class="jumbotron">
    <h1>You have not made a portfolio yet!</h1>
    <a class="btn btn-outline-success" href="{% url 'portfolio_create' %}">
        <i class="fas fa-plus"></i> Portfolio</a>
</div>
<div class="container">
    <h1 class="title">Projects</h1>
    <h2>No Projects Yet</h2>
    <a class="btn btn-outline-success" href="">
            <i class="fas fa-plus"></i> Project</a>
</div>

{% endif  %}
{% endblock %}