{% extends 'base.html' %}
{% block content %}
<h1>Sign Up</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}


<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <label for="first_name">First Name:</label>
            <input class="form-control" type="text" name="first_name" required>
        </div>
        <div class="col-md-2 mb-3">
            <label for="last_name">Last Name:</label>
            <input class="form-control" type="text" name="last_name" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" required>
        </div>
    </div>



    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }} {{ field }}
        <br>
        {{ field.help_text }}
        {{ field.errors }}
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-outline-primary" value="Sign Up">
</form>

{% endblock %}