{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Briefcase</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- JavaScript File for DatePicker -->
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-briefcase"></i> Briefcase</a>
            <ul class="navbar-nav ml-auto" id="nav-components">
                <li class="nav-item">
    
                    {% if request.path == '/' or request.path == '/search/' %}
                    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_portfolios' %}">
                        {% csrf_token %}
                        <input class="form-control mr-1" name="search_content" type="search" placeholder="Search Portfolios" aria-label="Search">
                        <select class="custom-select custom-select-md mr-2" name="option" required>
                                <option value="profession" selected>profession</option>
                                <option value="technologies">technologies</option>
                        </select>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    {% endif %}
                   
                </li>
                {% if request.user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="dropdown">
                        <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'user_profile' request.user.id %}">My Portfolio</a>
                        {% if request.user.portfolio == '' %}
                        <a class="dropdown-item" href="{% url 'portfolio_create' %}">
                            <i class="fas fa-plus"></i> Profile</a>
                        {% else %}
                        <hr>
                        <a class="dropdown-item" href="{% url 'portfolio_update' request.user.portfolio.id %}">
                            <i class="fas fa-edit"></i> Portfolio</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'projects_create' %}" >
                            <i class="fas fa-plus"></i> Project</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                    class="fas fa-sign-out-alt"></i> Logout</button>
                        </a>
                    </div>
                </div>
                {% else %}
                <li class="nav-item ml-3">
                    <a href="{% url 'signup' %}"><button class="btn btn-outline-secondary my-2 my-sm-0" id="sign-up" type="submit">
                            <i class="fas fa-user-plus"></i> Sign Up</button></a>
                </li>
                <li class="nav-item ml-3">
                        <a href="{% url 'login' %}"><button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                                <i class="fas fa-sign-in-alt"></i> Login</button></a>
                    </li>
                {% endif %}

            </ul>

        </nav>
    </header>
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer" class="mt-auto py-3">
        <div>
            <i class="fas fa-briefcase"></i> Briefcase by Emily, Samantha, Sonnia 
            <a href="https://github.com/emilyc729/mybriefcase/" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>
</body>

</html>