{% extends 'base.html' %}
{% block content %}

<h1>Carousel</h1>
<div class=jumbotron>
    <h1>Portfolio Links</h1>
    {% if user != "" %}
    <div class="row">
        {% for user in users %}
        {% if user.portfolio != "" %}
        <div class="col-md-4 mb-3">
            <p>{{user.first_name}} {{user.last_name}}
            <a href="{% url 'user_profile' user.id %}"><button type="button" class="btn btn-outline-primary">View
                     Portfolio</button></a>
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <h2>There are no users with portfolios</h2>
    {% endif %}
</div>
{% endblock %}