

/* Colors */
:root {
    --secondary: hsla(31, 64%, 90%, 1);
    --beige: #ECE9E1;
    --tan: #D3C8B3;
    --darkBrown: #493C2C;
    --blue: rgb(193, 219, 217);
    --darkerblue: rgb(36, 107, 101);
    --firstblue: rgb(193, 240, 236);
    --lighterblue: rgb(219, 243, 241);
    --lightblue: hsl(200, 50%, 90%);
}


/* Font Styles */

h1 {
    padding: 20px 30px;
    font-family: 'Manjari', serif;
    font-weight: bold;
}

h3 {
    font-family: 'Manjari', serif;
    font-weight: bold;
    font-size: 20px;
}


main.container-fluid {
    padding: 0;
    margin-top: 60px;
}

.title {
    text-align: center;
}



/* form styles */

.form-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 30px 80px;
    background-color: var(--lighterblue);
    border-radius: 6px;
}

label {
    font-weight: 200;
    float: left;
    margin-right: 15px;
}

input, textarea {
    border: 1px solid var(--darkerblue);
    border-radius: 3px;
    padding: 2px 6px;
    width: 100%;
}

input:focus, textarea:focus {
    border: 2px solid var(--firstblue);
}

input[type=file] {
    max-width: 300px;
}

/* Buttons styling */


.btn {
    padding: 5px 15px;
    background-color: white;
    max-width: 138px;
}

.btn-outline-primary, .btn-primary {
    border: 1px solid var(--darkerblue);
    color: var(--darkerblue);
}

.btn-outline-primary:hover {
    background-color: var(--firstblue);
    border: 1px solid aquamarine;
    color: black;
}

.btn-primary:hover {
    background-color: var(--firstblue);
    border: 1px solid aquamarine;
    color: black;
}

/* Nav buttons */
.btn-group {
    margin-left: 30px;
}






/* Nav Styles */
#nav-components {
    flex-direction: row;
}

.form-group input{
    width: 100%;
}

nav {
    background-color: var(--firstblue);
}

.navbar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    border-radius: 10px;

}

#dropdown {
    padding:.5rem 0 0 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}


hr {
    margin: 0;
}

.jumbotron {
    background-color: mintcream;

    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}


/* Home page */
#welcome-box {
    padding: 25px 0 15px 0;
}

.welcome {
    text-align: center;
    padding: 0;
    margin: 0;
}

#profile-cards::after {
    content: '';
    flex: auto;
}

.home-portfolio-links {
    padding: 20px;
    min-width: 350px;
    margin: 15px auto;
}

.profile-img-home {
    width:140px;
    height: 140px;
    object-fit: cover;
}

.profile-info {
    padding-left: 15px;
}

#login-container {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    background-color: white;
}

.carousel-item {
    margin-bottom: 68px;
}


.carousel-item img {
    object-fit: scale-down;
    max-height: 490px;
}

#arrow-left,  #arrow-right{
    color: grey;
    font-size: 40px;
}

.carousel-caption {
    bottom: -95px;
    color: black;
}




/* Sign Up Page */







/* Profile / Portfolio Page */
#profile {
    display: flex;
}

#profile-row {
    width: 100%;
}

#username {
    padding: 0px;
}

#profile-img-box {
    max-width: 400px;
}

#profile-img {
    width: 100%;
}


.profile-icon {
    font-size: 4em;
    background-color: aliceblue;
    height: 140px;
    width: 140px;
}

.project-img {
    object-fit: cover;
    height: 290px;
    font-size: 4em;
    border-bottom: 1px solid var(--blue);
    color: var(--blue);
}


.photo-form {
    margin-top: 10px;
}

.edit-photo {
    float: right;
}

#project-info {
    padding: 10px;
}

.card-footer {
    background-color: var(--lighterblue);
}

/* Page Footer */
#footer {
    text-align: center;
    background-color: var(--firstblue);
    padding: 12px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fab {
    font-size: 1.2em;
    color: black;
}

.fab:hover {
    color: purple;
}

