:root {
	--primary: #7f170e;
	--secondary: hsla(31, 64%, 90%, 1);
	--pink: hsla(0, 64%, 82%, 0.21);
	--green: #8da54a;
	--orange: #e1772e;
	--offwhite:
}

main.container-fluid {
    padding: 0;
}


.title {
    text-align: center;
}




/* Element styles (inputs, buttons, jumbotron*/
input {
    border: 1px solid aquamarine;
    border-radius: 2px;
}

.btn {
    padding: 5px 20px;
}

.btn-primary {
    background-color: olivedrab;
    border: 1px solid aquamarine;
}

.btn-primary:hover {
    background-color: mediumaquamarine;
    border: 1px solid aquamarine;
}

/* Nav buttons */
.btn-group {
    margin-left: 30px;
}

.jumbotron {
    background-color: mintcream;
}



/* Font Styles */

h1 {
    padding-bottom: 20px;
    font-family: 'Manjari', serif;
    font-weight: bold;
}

h3 {
    font-family: 'Manjari', serif;
    font-weight: bold;
    font-size: 20px;
}




/* Nav Styles */
#nav-components {
    flex-direction: row;
}

.form-group input{
    width: 100%;
}



/* Home page */
#home-portfolio-links {
    border: 1px solid blue
}

#login-container {
    display: flex;
    justify-content: center;
}


.carousel-inner {
    background-color: white;
}

.carousel-item img {
    object-fit: scale-down;
    max-height: 380px;
}

#arrow-left,  #arrow-right{
    color: grey;
    font-size: 40px;
}






/* Sign Up Page */







/* Profile / Portfolio Page */
#profile {
    display: flex;
}

#profile-img-box {
    max-width: 400px;
}

#profile-img {
    width: 100%;
}

#project-img {
    object-fit: cover;
    height: 290px;
    background: black;
}

#project-info {
    padding: 10px;
}